 * {
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-family: 'Asap', sans-serif;
  } 
  .top {
      background: linear-gradient(blue, pink);
      height: 120vh;
      width: 1600px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  li{
    text-decoration: none;
    list-style: none;
  }
  .face{
    display: flex;
    justify-content: start;
    color: white;
  }
  nav{
    display: flex;
    justify-content: end;
  }
  .topnav{
    color: #000;
    font-size: 14px;
    margin-top: -15px;
  }
  .topnav a{
    color: rgb(253, 251, 251);
    text-align: end;
    padding: 14px 16px;
    font-size: 15px;
  }
  .topnav a:hover{
    border-bottom: 2px solid rgb(26, 133, 2);
    color: rgb(184, 180, 180);
  }
  .topnav .icon{
    display: none;
  }
  .container-one{
    display: flex;
    justify-content: start;
    flex-direction: column;
   margin-top: 180px;
   margin-left:110px;
   background: linear-gradient(rgb(2, 8, 66), rgb(3, 3, 118));
   max-width: 500px;
   height: 300px;
  }
  .container-one h3{
    font-size:30px;
    text-align: center;
    color:white;
    padding: 10px;
    }
    .container-one h4{
      color: white;
      font-size: 17px;
      text-align: center;
    }
    .container-one h5{
      color: white;
      font-size:15px;
      display:flex;
      text-align:center;
      margin-left:30px;
      margin-top: 50px;
    }
header .about > .container-one > .buttons {
  display: flex;
  justify-content: space-around;
  border: 0;
  margin-top: 50px;
  font-size: large; 
}
.card-button{
  padding: 12px 18px;
  border: 0;
  border: solid white;
  border-width: 2px;
  background: linear-gradient(rgb(2, 8, 66), rgb(3, 3, 118));  
  cursor: pointer;
  color: white;
  transition: .4s;
  font-weight: bold;

  
}
.card-button:hover {
  background: white;
  color: rgb(1, 11, 26);

}
    

.img-header{
  display: flex;
  justify-content: end;
}
.img-header img{
  max-width: 500px;
  height: 300px;
  margin-right:110px;
  margin-top:-300px;
}
.top{
  display: absolute;
}
  .bottom-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px;
    margin-left: 120px;
  }
  
  .img-bottom {
    display: flex;
    flex-direction: row;
    height: 95px;
    justify-content: space-around;
    margin-top: 40px;
    
  }
  .img-bottom img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px ;
    border-bottom-right-radius: 6px;
  }
  .page-second {
    margin-top: 100px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 justify-content: space-around;
 }
 .main-page h3{
text-align: center;
margin-top: 100px;
}
.offers{
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: stretch; */
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: space-around;
  margin-top: 250px;
  font-size: 19px;
  white-space: nowrap;  
  
  }
.row-img {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #ddd9d9;
  color: #070606;
  text-decoration: none;
  box-shadow: rgb(0,0,0,0.19) 0 0 8px 0;
  border-radius: 4px;
  
}
 .knopki {
  display: flex;
  justify-content: space-around;
  border: 0;
  font-size: large;
}
.drac-button {
  padding: 8px 32px;
  border: 0;
  border: solid blue;
  border-width: 2px;
  background: white;  
  cursor: pointer;
  color: blue;
  transition: .4s;
  font-weight: bold;
  border-radius: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.drac-button:hover {
  background-color: blue;
  color: white;
}
.work-easy{
  display: grid;
  grid-template-columns: 100px 100px ;
  margin-left: 600px;
  justify-content: space-around;
  margin-top: 70px;
  white-space: nowrap;
  max-width: 700px; 
}
 .job-easy{
   position: relative;
   
    text-align: center;
 } 
 .main-page-second > .image-managment img{
    position: relative;
    top: 300px;
  }

  .main-page-second{
    background-color: rgb(241, 241, 241);
    
  }



  