 * {
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-family: 'Asap', sans-serif;
  } 
  .top {
      background: linear-gradient(blue, pink);
      
  }
  a{
    text-decoration: none;
    color: white;
  }
  li{
    text-decoration: none;
    list-style: none;
  }
  .face{
    display: flex;
    justify-content: start;
    color: white;
  }
  nav{
    display: flex;
    justify-content: end;
  }
  .topnav{
    color: #000;
    font-size: 14px;
    margin-top: -15px;
  }
  .topnav a{
    color: rgb(253, 251, 251);
    text-align: end;
    padding: 14px 16px;
    font-size: 15px;
  }
  .topnav a:hover{
    border-bottom: 2px solid rgb(26, 133, 2);
    color: rgb(184, 180, 180);
  }
  .topnav .icon{
    display: none;
  }
  .container-one{
    display: flex;
    justify-content: start;
    flex-direction: column;
   margin-top: 230px;
   margin-left:110px;
   background: linear-gradient(rgb(2, 8, 66), rgb(3, 3, 118));
   max-width: 500px;
   height: 300px;
  }
  .container-one h3{
    font-size:30px;
    text-align: center;
    color:white;
    }
    .container-one h4{
      color: white;
      font-size: 17px;
      text-align: center;
    }
    .container-one h5{
      color: white;
      font-size:15px;
      display:flex;
      text-align:center;
      margin-left:30px;
      margin-top: 90px;
    }
.button-first{
    max-width: 220px;
    max-height: 50px;
    display: flex;
    justify-content: start;
   margin: 40px;
   margin-left: 60px;
   
}
  .button-second{
    display: flex;
    justify-content: end;
  margin-top: -70px;
  margin-right: 120px;  
  }
    

.img-header{
  display: flex;
  justify-content: end;
}
.img-header img{
  max-width: 500px;
  height: 300px;
  margin-right:110px;
  margin-top:-300px;
}
.top{
  display: absolute;
}
  
  